<%= turbo_frame_tag dom_id(@tweet) do %>
  <% content_for :title, "Editing tweet" %>

  <h3>Editing tweet</h3>
  <div>
    <%= render "tweets/form", tweet: @tweet %>
    <%= link_to 'Cancel', @tweet %>
  </div>
<% end %>
