<% content_for :title, "Editing swaperson" %>

<h1>Editing swaperson</h1>

<%= render "form", swaperson: @swaperson %>

<br>

<div>
  <%= link_to "Show this swaperson", @swaperson %> |
  <%= link_to "Back to swapeople", swapeople_path %>
</div>
